<% content_for :title, "Showing folder" %>

<div class="w-full">
  <div class="w-full sm:w-auto my-5 space-y-5">
    <div class="flex items-center">
      <% if @folder.generic? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star-icon lucide-star mr-1"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder mr-1"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/></svg>
      <% end %>
      <h1 class="font-bold text-2xl"><%= @folder.title %></h1>
    </div>
  </div>

  <div class='flex flex-col sm:flex-row justify-between'>
    <div class='flex gap-2 flex-col sm:flex-row'>
      <!-- Refactor link title -->
      <%= link_to "<< #{@folder.parent.present? ? @folder.parent.title : 'Back'}", @folder.parent.present? ? folder_path(@folder.parent) : root_path , class: "w-auto px-3.5 py-2.5 text-center sm:mt-0 sm:ml-0 rounded-md bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "Edit this folder", edit_folder_path(@folder), class: "w-auto px-3.5 py-2.5 text-center rounded-md bg-gray-100 hover:bg-gray-50 inline-block font-medium bg-green-400 hover:bg-green-300" %>
      <%= button_to "Destroy this folder", @folder, method: :delete, form_class: "sm:inline-block", class: "w-full block px-3.5 py-2.5 rounded-md text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    </div>
    <div class='flex flex-row mt-2 sm:mt-0'>
      <%= link_to "New note", new_note_path(parent_id: @folder.id), class: "rounded-md px-3.5 py-2.5 w-1/2 sm:w-auto text-center bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
      <%= link_to "New folder", new_folder_path(parent_id: @folder.id), class: "rounded-md px-3.5 py-2.5 w-1/2 sm:w-auto text-center ml-3 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </div>
  </div>

  <%= render 'folder_content' %>
</div>
