<!DOCTYPE html>
<html>
  <head>
    <title>Connectivity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <main class="container mx-auto mt-2 px-5 flex flex-col w-full">
      <%= render '/layouts/user_actions_header' %>
      <header class="flex justify-center mb-5">
        <%= link_to root_path do  %>
          <%= image_tag 'connectivity_logo.png', class: 'h-24' %>
        <% end %>
      </header>
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
          <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="notice"><%= alert %></p>
        <% end %>
      <%= yield %>
    </main>
  </body>
</html>

