<!DOCTYPE html>
<html>
  <head>
    <title>Connectivity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <main class="container mx-auto mt-10 px-5 flex flex-col">

      <header class="flex mb-10">
      <%= link_to root_path do  %>
        <h1 class="font-bold text-4xl">Connectivity</h1>
      <% end %>
        
      </header>
      <%= yield %>
    </main>
  </body>
</html>
